<!doctype html>
<html lang="en"  xmlns:th="http:/www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!--<link href="styles.css" rel="stylesheet" >-->
    <title>Agroromero</title>
</head>
<body>
<main>

        <div sec:authorize = "isAuthenticated()" class="row aling-items-center text-primary  px-3 gap-3" >
        <h5 th:text="'Bienvenido' + '  ' + ${usuariosAut.getEmail()}"  align="right"  ></h5>
        </div>

    <div class="px-2 py-2 mx2 my 2 text-center">
        <h1><p class="p-4  bg-primary fs-1 fst-italic fw-bold p-1 text-white" >Agroromero</p></h1>

        <img src="img/LogoAgr.png" class="d-block mx-auto my-auto mb-4" height="250" alt="Spring Boot">
            <div class="col-lg-6 mx-auto">           
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/oauth2/authorization/auth0}" type="button" class="btn btn-outline-success btn-sm px-3 gap-3">Iniciar Sesion</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a href="/empresa" type="button" class="btn btn-outline-success btn-sm px-3 gap-3">Ir Al Aplicativo</a>
                </div>
        </div>

    </div>


</main>
</body>
</html>